

.prices img {
    width: auto;
    max-width: 100%;
    height: 100%;
}

.prices__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #fff;
    font-size: 13px;
    margin-bottom: 30px;

}


.price__title {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.price__title h2 {
    text-decoration: underline;
    text-decoration-color: #D0B8AC;
    text-underline-offset: 8px;
}
 
.prices__order {
    font-size: 25px;
    background: none;
    border: none;
    color: #D0B8AC;
    display: block;
    margin: 56px auto 0 auto;
    text-align: center;
    transition: all 0.4s;
}
@media screen and (min-width: 768px) {

    .prices {
        position: relative;
        height: fit-content !important;
    }

    .prices__display {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 2%;
        width: 80%;
        position: relative;
        padding-right: 28px;
        height: 100%;
    }

    .prices__display::after {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        right: 0;
        background-color: #D0B8AC;
    }

    .prices__order:hover {
        transform: scale(1.1);
        color: #fff;
    }
}