

.prices img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.prices__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #fff;
    font-size: 13px;
    margin-bottom: 30px;

}


.price__title {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.price__title h2 {
    text-decoration: underline;
    text-decoration-color: #D0B8AC;
    text-underline-offset: 8px;
}

.price__title p {
  font-size: 20px;
}
 

.book-btn {
  background-color: #d0b8ac;
  border: none;
  color: black;
  height: 40px;
  font-family: 'Cinzel Decorative', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 38px;
  padding: 0 28px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  width: fit-content;
  align-items: center;
  outline: 0;

}

.book-btn__icon {
  font-size: 25px;
  display: inline-block;
  padding: 5px;
}

@media screen and (min-width: 768px) {

    .prices {
        position: relative;
        height: fit-content !important;
    }

    .prices__display {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 2%;
        width: 80%;
        position: relative;
        padding-right: 28px;
        height: 100%;
    }

    .prices__display::after {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        right: 0;
        background-color: #D0B8AC;
    }

    .prices__order:hover {
        transform: scale(1.1);
        color: #fff;
    }
}